<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div id="header">
<h1>Catalog App</h1>
</div>

<h2>Add Item</h2>

<form action="{{url_for('addItem', item_id = item_id)}}" method = 'post'>

<dl>
	<dt>Name:</dt>
	</br>
	<dd><input type ='text' size='30' name='name'></dd>
</dl>

<dl>
	<dt>Description:</dt>
	</br>
	<dd><input type ='text' size='30' name='description'></dd>
</dl>

<dl>
	<dt>Category:</dt>
	</br>
		<select name="categories">
  			<option value="soccer">Soccer</option>
  			<option value="baseball">Baseball</option>
  			<option value="basketball">Basketball</option>
  			<option value="snowboarding">Snowboarding</option>
		</select>
	</br>
</dl>

<input type='submit' value='Submit'>

<a href= '#'>Cancel</a>

</form>

</body>
</html>