<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div id="header">
<h1>Catalog App</h1>
</div>
<br>
<br>
<h2>Add Item</h2>

<form action="{{url_for('addItem')}}" method = 'post'>

<dl>
	<dt>Name:</dt>
	</br>
	<dd><input type ='text' size='30' name='name'></dd>
</dl>

<dl>
	<dt>Description:</dt>
	</br>
	<dd><input type ='text' size='30' name='description'></dd>
</dl>

<dl>
	<dt>Category:</dt>
	</br>
	<!-- How can I make the categories not hard-coded? -->
		<select name="category_id">
  			<option value="2">Baseball</option>
  			<option value="1">Basketball</option>
  			<option value="3">Snowboarding</option>
		</select>
	</br>
</dl>

<input type='submit' value='Submit'>

<a href= '{{url_for('showCatalog')}}'>Cancel (Back to Catalog Home)</a>

</form>

</body>
</html>