<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div id="header">
<h1>Catalog App</h1>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div id="nav">

<a class="one" href="{{url_for('showCatalog')}}">Catalog Home</a><br>

<h2>Categories</h2>

{% for i in categories %}

<a class="one" href="{{url_for('showItems', category_name = i.name)}}">{{i.name}}</a><br>

{% endfor %}
</div>

{% if category %}

<div id="section">

<a class="one" href='{{url_for('addItem')}}'>Add Item</a><br>

<h2>Items in category "{{category.name}}"</h2>

{% if empty %}

<font color="gray">No items in the {{category.name}} category.</font>

{% endif %}

{% for i in items %}

<a class="two" href="{{url_for('showItem', category_name = i.category.name, item_name=i.name)}}">{{i.name}}</a><br>

{% endfor %}

</div>

{% else %}

<div id="section">

<a class="one" href='{{url_for('addItem')}}'>Add Item</a>

<h2>Latest Items</h2>

{% for i in items %}

<a class="two" href="{{url_for('showItem', category_name = i.category.name, item_name=i.name)}}">{{i.name}}
            ({{i.category.name}})</a><br>

{% endfor %}
</div>

{% endif %}

<div id="footer">
Roberto Zanchi  |  Full Stack Web Developer Nanodegree  |  Udacity
</div>

</body>
</html>