<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div id="header">
<h1>Catalog App</h1>
</div>

<h2>Edit Item {{item.name}}</h2>

<form action="{{url_for('editItem', category_name = category_name, item_name = item_name)}}" method = 'post'>

<dl>
	<dt>Name:</dt>
	</br>
	<dd><input type ='text' size='30' name='name' placeholder='{{item.name}}'></dd>
</dl>

<dl>
	<dt>Description:</dt>
	</br>
	<dd><input type ='text' size='30' name='description' placeholder='{{item.description}}'></dd>
</dl>

<dl>
	<dt>Category:</dt>
	</br>
		<select name="category_id">
   			<option value="1" {% if item.category.name == "Basketball" %} selected {% endif %}>Basketball</option>
  			<option value="2" {% if item.category.name == "Baseball" %} selected {% endif %}>Baseball</option>
  			<option value="3" {% if item.category.name == "Snowboarding" %} selected {% endif %}>Snowboarding</option>
		</select>
	</br>
</dl>

<input type='submit' value='Submit'>

<a href= '#'>Cancel</a>

</form>

</body>
</html>

