<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div id="header">
<h1>Catalog App</h1>
</div>

<div id="section">

<a class="one" href="{{url_for('showCatalog')}}">Catalog Home</a><br>

<h2>{{item.name}}</h2>

Description:<br>

{{item.description}}<br><br>

<a href="{{url_for('editItem',category_name = category_name, item_name = item_name)}}">Edit</a> 
| <a href="{{url_for('deleteItem',category_name = category_name, item_name = item_name)}}">Delete</a><br>

</div>

<div id="footer">
Roberto Zanchi  |  Full Stack Web Developer Nanodegree  |  Udacity
</div>

</body>
</html>